.menu_item_otpion {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}
.menu_item_otpion:hover {
  background-color: lightgray;
  border-radius: 10px;
}
.menu_item_otpion > h4 {
  margin-left: 20px;
  font-weight: 600;
}
.menu_item_otpion > i {
  color: #2e81f4;
  font-size: xx-large;
}
